* text=auto eol=lf

# Exclude these directories from being exported:
.github/   export-ignore
.vscode/   export-ignore
scripts/   export-ignore
# Exclude test files from releases (Git archive)
Tests/      export-ignore

# Exclude these files from being exported:
.editorconfig                   export-ignore
.gitattributes                  export-ignore
.gitignore                      export-ignore
LICENSE.txt                     export-ignore
PSScriptAnalyzerSettings.psd1   export-ignore
